<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de gastos</title>
    
    <link rel="stylesheet" href="../static/gestorStyle.css">
    <script src="../../gestor.js"></script>
    
</head>
<body>
    <header class="header__section">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__element">
                    <div class="list__element-img-container">

                    </div>
                </li>                
            </ul>
            <ul class="nav__list sections--item">
                <li class="list__element">
                    <a href="#" class="list__element-link">Nosotros</a>
                </li>
                <li class="list__element">
                    <a href="#" class="list__element-link">Cursos</a>
                </li>
                <li class="list__element signin--button">
                    <a href="login.html" class="list__element-link ">Unirse</a>
                </li>
                <li class="menu--button">
                    <label><span class="menu-button__icon">&#9776;</span>
                        <input type="checkbox" id="menu-button">                        
                    </label>
                </li>
                <li class="user-menu__container">
                    <button class="user-menu__button" id="user-menu-button">
                        <span class="user-menu__username" id="user-menu-username">
                        </span>
                    </button>
                    <div class="user-menu" id="user-menu">                
                        <div class="user-menu__dropdown" id="user-menu-dropdown">
                            <a href="#" id="logout-button" class="user-menu__item">Cerrar sesión</a>
                            <a href="/bill-manager" id="bill-button" class="user-menu__item">Gestionar gastos</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="banner-section">
            <div class="banner-section__button">
                <button class="bill-account__add" >
                    <p>+</p>
                </button>
            </div>
            <div class="banner-section__info">
                <span class="banner-section__account">
                    Haga click en el botón para ingresar saldo
                </span>
                <span class="banner-section__desc">
                    TU SALDO DISPONIBLE
                </span>
            </div>
            
        </div>
    </header>
    <main class="bill-manager">
        <div class="bill-manager__container" data-expense-id="1">
            <div class="bill-manager__container-content">
                <div class="bill-manager__container-money">$00.00</div>
                <div class="bill-manager__container-title">GASTOS</div>
                <div class="bill-manager__container-desc">Descripción del gasto</div>
            </div>
            <div class="bill-manager__container-date">
                <span class="bill-manager__container-date-content">10/07/2024</span>
                <div class="bill-manager__container-date-buttons">
                    <button class="bill-manager__container-date-button button--modify">Modificar</button>
                    <button class="bill-manager__container-date-button button--pay">Pagar</button>
                </div>
            </div>
        </div>
        
        <button class="bill-manager__add" >
            <p>AÑADIR GASTO +</p>
        </button>

        
    </main>    
    


    <!--VENTANA MODAL AGREGAR GASTP -->


    <section class="modal">
        <div class="modal__container">
            <h2 class="modal__title">Agregar gasto</h2>
            <div class="modal__container-content">
                <div class="modal__container-content-item valor">
                    <label for="" class="modal__label">Valor
                    <input type="number" class="modal__input" id="modal-input-balance">
                    </label>
                </div>
                <div class="modal__container-content-item fecha">
                    <label for="" class="modal__label">Fecha
                    <input type="date" class="modal__input" id="modal-input-date">
                    </label>
                </div>
                <div class="modal__container-content-item gasto">
                    <label for="" class="modal__label">Nombre del gasto
                    <input type="text" class="modal__input" id="modal-input-title">
                    </label>
                </div>
                <div class="modal__container-content-item desc">
                    <label for="" class="modal__label">Descripcion
                    <textarea name="Descripcion" class="modal__textbox" id="modal-input-desc"></textarea>
                    </label>
                </div>
            </div>

            <div class="modal__container-buttons">
                <button class="modal__agregar" id="modal-agregar">Agregar</button>
                <button class="modal__close">Cerrar</button>
            </div>
        </div>

    </section>

    <!--VENTANA MODAL AGREGAR SALDO -->

    <section class="modal--account">
        <div class="modal__container">
            <h2 class="modal__title">Agregar saldo</h2>
            <div class="modal__container-content">
                <div class="modal__container-content-item valor">
                    <label for="" class="modal__label">Valor
                    <input type="number" class="modal__input" id="modal-input-account">
                    </label>
                </div>
            </div>
            <div class="modal__container-buttons">
                <button class="modal__agregar--account" id="modal-agregar-account">Agregar</button>
                <button class="modal__close--account">Cerrar</button>
            </div>
        </div>
    </section>


    </section>


    <script src="../../app.js"></script>
</body>
</html>