<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/gestorStyle.css">
</head>
<body>
    <header class="header__section">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="list__element">
                    <div class="list__element-img-container">

                    </div>
                </li>                
            </ul>
            <ul class="nav__list sections--item">
                <li class="list__element">
                    <a href="#" class="list__element-link">Nosotros</a>
                </li>
                <li class="list__element">
                    <a href="#" class="list__element-link">Cursos</a>
                </li>
                <li class="list__element signin--button">
                    <a href="login.html" class="list__element-link ">Unirse</a>
                </li>
                <li class="menu--button">
                    <label><span class="menu-button__icon">&#9776;</span>
                        <input type="checkbox" id="menu-button">                        
                    </label>
                </li>
            </ul>
        </nav>
        <div class="banner-section">
            <div class="banner-section__button">
                <button class="bill-account__add" >
                    <p>+</p>
                </button>
            </div>
            <div class="banner-section__info">
                <span class="banner-section__account">
                    $00.00
                </span>
                <span class="banner-section__desc">
                    TU SALDO DISPONIBLE
                </span>
            </div>
            
        </div>
    </header>
    <main class="bill-manager">
        <div class="bill-manager__container">
            <div class="bill-manager__container-content">
                <div class="bill-manager__container-money">
                </div>
                <div class="bill-manager__container-title">
                
                </div>
                <div class="bill-manager__container-desc">
                
                </div>
            </div>
            <div class="bill-manager__container-date">

            </div>
        </div>
        <button class="bill-manager__add" >
            <p>AÑADIR GASTO +</p>
        </button>

        
    </main>


    
    


    <!--VENTANA MODAL -->


    <section class="modal">
        <div class="modal__container">
            <img src="../addons/images/logotipo.PNG" class="modal__img">
            <h2 class="modal__title">Agregar gasto</h2>
            <label for="" class="modal__label">Valor</label>
            <input type="number" class="modal__input">
            <label for="" class="modal__label">Fecha</label>
            <input type="date" class="modal__input">
            <label for="" class="modal__label">Nombre del gasto</label>
            <input type="text" class="modal__input">
            <label for="" class="modal__label">Descripcion</label>
            <textarea name="Descripcion" id="Descripcion"></textarea>

            <div class="modal__container-buttons">
                <button class="modal__agregar">Agregar</button>
                <button class="modal__close">Cerrar</button>
            </div>
        </div>

    </section>


    <script src="../../app.js"></script>

<script src="../../gestor.js"></script>
</body>
</html>